@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.resume-box{
    width: 950px;
    height: 1150px;
    margin: 90px auto;
    background: var(--white);
    box-shadow: 5px 21px 20px 20px #8a8a8a9c;
    border: 1px solid rgba(0, 0, 0, 0.192);

}

body{
    background-color: #D7D3BF;
}

.resume-box > h1{
    text-align: center;
    background-color: #b7b7b774;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

h2{
    background-color: #b7b7b774;
    text-indent: 50px;
    letter-spacing: 2px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    
}

.resume-box > img{
    border-radius: 25%;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

ul{
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: white;
}